diff a/arch/arm/mach-omap2/Kconfig b/arch/arm/mach-omap2/Kconfig	(rejected hunks)
@@ -530,6 +530,16 @@ config OMAP4_HSOTG_ED_CORRECTION
 	  order to improve Eye Diagramm. On 4430 CPUs this should
 	  improve Eye Diagram at least 8%.
 
+config OMAP4430_CPU_OVERCLOCK
+	bool "Enables OMAP 4430 CPU overclock"
+	depends on ARCH_OMAP4
+	default n
+
+config OMAP4430_GPU_OVERCLOCK
+	bool "Enables OMAP 4430 GPU overclock"
+	depends on ARCH_OMAP4
+	default n
+
 endmenu
 
 endif
